<h1>Editing Full Time Employment</h1>

<%= render 'form', full_time_employment: @full_time_employment %>

<%= link_to 'Show', @full_time_employment %> |
<%= link_to 'Back', full_time_employments_path %>
