<h1>Editing Realtime Services Insta Booking</h1>

<%= render 'form', realtime_services_insta_booking: @realtime_services_insta_booking %>

<%= link_to 'Show', @realtime_services_insta_booking %> |
<%= link_to 'Back', realtime_services_insta_bookings_path %>
