<h1>Editing Scheduled Services Office Appointment</h1>

<%= render 'form', scheduled_services_office_appointment: @scheduled_services_office_appointment %>

<%= link_to 'Show', @scheduled_services_office_appointment %> |
<%= link_to 'Back', scheduled_services_office_appointments_path %>
