<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_scheduled_services_office_appointment_path(@scheduled_services_office_appointment) %> |
<%= link_to 'Back', scheduled_services_office_appointments_path %>
