<h1>Editing Connecting Services Reply</h1>

<%= render 'form', connecting_services_reply: @connecting_services_reply %>

<%= link_to 'Show', @connecting_services_reply %> |
<%= link_to 'Back', connecting_services_replies_path %>
