<h1>Editing Employment Services Premium Employment Service</h1>

<%= render 'form', employment_services_premium_employment_service: @employment_services_premium_employment_service %>

<%= link_to 'Show', @employment_services_premium_employment_service %> |
<%= link_to 'Back', employment_services_premium_employment_services_path %>
