<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_employment_services_premium_employment_service_path(@employment_services_premium_employment_service) %> |
<%= link_to 'Back', employment_services_premium_employment_services_path %>
