<h1>Editing Premium Employment Service</h1>

<%= render 'form', premium_employment_service: @premium_employment_service %>

<%= link_to 'Show', @premium_employment_service %> |
<%= link_to 'Back', premium_employment_services_path %>
