<h1>New Staffing Services Pre Varified Resource</h1>

<%= render 'form', staffing_services_pre_varified_resource: @staffing_services_pre_varified_resource %>

<%= link_to 'Back', staffing_services_pre_varified_resources_path %>
