<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_staffing_services_pre_varified_resource_path(@staffing_services_pre_varified_resource) %> |
<%= link_to 'Back', staffing_services_pre_varified_resources_path %>
