<h1>Editing Connecting Services Enquiry</h1>

<%= render 'form', connecting_services_enquiry: @connecting_services_enquiry %>

<%= link_to 'Show', @connecting_services_enquiry %> |
<%= link_to 'Back', connecting_services_enquiries_path %>
