<style>
  .alert {
    z-index: 1000;
    margin-top: 41px;
    margin-bottom: -41px;
    background: #9bd2ea;
  }
</style>

<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
